@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?nfr8c6');
  src: url('../fonts/icomoon/icomoon.eot?nfr8c6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?nfr8c6') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?nfr8c6') format('woff'),
    url('../fonts/icomoon/icomoon.svg?nfr8c6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e903";
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-arrow-up-right:before {
  content: "\e902";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e905";
}